/* HEADER */

.link-underline {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  padding: 90px 50px 95px;
}

.header__links-list {
  display: flex;
  justify-content: start;
  padding-left: 0;
  margin: 0;
}

.link-active {
  text-decoration: none;
  border-bottom: none;
}

.header__links-list-item {
  list-style: circle;
  text-transform: lowercase;
  margin-right: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__logo {
  justify-self: center;
  align-self: flex-start;
  margin-top: 2px;
  margin-left: 1px;
}

.header__logo-image {
  display: block;
  min-width: 137px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  padding-top: 6px;
  justify-self: end;
  max-width: 240px;
}

.address-underline {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* COVER */

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 757px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 145px 20px 100px 50px;
  font-size: 100px;
  font-weight: bold;
  max-width: 1100px;
  letter-spacing: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.cover__title-word {
  display: block;
  z-index: 1;
  padding-top: 20px;
}

.cover__title-word-left {
  justify-self: flex-start;
}

.cover__title-word-center {
  justify-self: center;
}

.cover__title-word-right {
  justify-self: flex-end;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px;
  color: white;
  z-index: 1;
}

.description__text {
  position: relative;
  text-transform: uppercase;
  align-content: center;
  font-size: 22px;
  letter-spacing: 0;
  word-spacing: 20px;
  font-weight: 300;
}

.description-word-spacing {
  word-spacing: 18px;
}

.description__button {
  font-size: 22px;
  text-transform: uppercase;
  border: white solid 1px;
  z-index: 1;
  padding: 12px 32px;
}

/* LOTS */

.lots {
  padding: 180px 24px 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.lots__heading {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.card__title {
  position: relative;
  padding: 48px 40px 0 40px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  z-index: 1;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card__text {
  position: relative;
  color: white;
  padding: 0 40px 48px 40px;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: block;
  position: relative;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

/* ABOUT */

.about {
  padding: 120px 24px 0 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
}

.about__column {
  justify-self: center;
  padding-top: 35px;
  padding-right: 0;

}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 100px 0 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 3px;
  line-height: 1.2;
  padding-bottom: 24px;
}

/* FOOTER */

.footer {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 157px 50px 82px;
}

.footer__address {
  justify-self: start;
  max-width: 265px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  text-transform: lowercase;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-content: end;
}

.footer__social-list-item {
  display: flex;
  width: 48px;
  height: 48px;
}